$navbar-bg-color: #89DCFE;
$bnt-1: #DFF8FF;
$bnt-2: #47B6ED;
$bg-header: #B6DED9;
$text-color: #fff;
$color-text: #000000;
$picture: #CDE4EF;
$bg-card:#F9F9F9 ;

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif
}
@import"components/__ul";
@import"components/__button";
@import"components/__header";
@import"components/__picture";
@import"components/__card";
@import"components/__card-2";
@import"components/__header-2";
@import"components/__picture-2";
@import"components/__footer";
@import"mixins/__responesive";