.container-3{
    margin: 10px;
    .card-1{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 10px;
      
    }
    .box{
        background-color:#F9F9F9 ;
        margin: 10px;
        width: 97%;
        height: 300px;
       
    }
    // .card-3{
    //     background-color:#F9F9F9 ;

    // }
    .fa-star{
        color: gold;
    }
    .picture-1{
        width: 140px;
        margin: 10px;
        height: 160px;
    }
    #icon-2{
        position: absolute;
        top: 830px;
        left: 210px;
        
    }

    #icon-1{
        position: absolute;
        top: 830px;
        left: 480px;
        
        
    }
    .btn-3{
        background-color: #89DCFE;
        border-radius: 5px;
        padding: 5px;
        border: none;
        width: 100px;
        margin-top: 10px;
    }
    #icon-3{
        position: absolute;
        top: 830px;
        left: 730px;

    }
    #icon-5{
        position: absolute;
        top: 830px;
        left: 990px;

    }



}