.contact-header {
  background: url('../../images/contact/contact.png');
  color: #080808;
  height: 48vh;
  text-align: center;
  margin-top: 15px;

  .container-1 {
    color: #000;
    font-size: 36px;
    margin-left: -280px;
    margin-bottom: 20px;

  }

  p {
    margin-top: 10px;
    font-size: 18px;
    color: #020202;
  }
}