.contact-header {
  text-align: center;
  margin-top: 108px;

  .container {
      font-size: 36px;
      margin-bottom: 50px;
      background-color: rgba(216, 216, 216, 0.61);

  }

  .container h2 p {
      color: #000;
      margin-top: 50px;
  }

}