.footer{
    background-color:#7A806B;
    color: #fff;
    height: 40vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    


    .footer-1{
        align-items: center;
        p{
            margin-top: 10px;
        }

    }
    .foots{
        .image img{
            width: 40px;
            margin: 10px;
         
        }
        .image{
            display: flex;
            align-items: center;

        }
    }
    
    
    
}
