
.contant{
    text-align: center;
    margin: 10px;
    .header-1{
        margin-left: 10px;
        margin-right: 10px;
        height:300px;
       
    }
    h5{
        text-align: center;
        margin-top: 60px;
        margin-left: 180px;

    }
    .h2{
        margin-left: 215px;
        margin-top: 10px;
        
    }
    .h6{
        margin-top: 60px;
        margin-left: 130px;
    }
    .btn-4{
        margin-left: 190px;
        background-color:$bnt-2 ;
        padding: 5px;
        margin-top: 5px;
        border: none;
        text-align: center;
        margin-left: 190px;
        color: $text-color;
        width: 120px;
        border-radius: 20px;
    }
    .contant-1{
        display: flex;
        justify-content: space-between;
        background-color: $bg-header;
        margin-top: 30px;
    }

    .picture-2{
        width: 170px;
        border: 8px solid #fff;
        height: 170px; 
        margin-top: 50px; 
        margin-right: 70px;
        border-radius: 100px; 
        
 }
 .picture-2:hover{
    transform: scale(1.08);
 }
}