.product{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    margin-left: 10px;
    margin-right: 10px;
    .pruduct-1{
        background-color: $picture;
    }
    .pruduct-2{
        margin-left: 30px;
        margin-right: 30px;
    }
}