*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo{
    .logo-1{
        width: 60px;
        height: 60px;
        border-radius: 50px;
    }
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
    align-items: center;
    background:$navbar-bg-color;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
}
.logo{
    color: #fff;
    font-size: 22px;
}
ul{
    list-style: none;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #000;
    padding: 8px 30px;
    border-radius: 7px;
    transition: all .3s ease;
}
ul li a:hover,
ul li a.active{
    color: #fff;
    background: #0075FF;
    text-decoration: underline;
}
#icon{
    background-color: #0057FF;
    padding: 5px 7px 3px 7px;
    border-radius: 4px;
    cursor: pointer;
}
#icon i{
    color: #fff;
    height: 28px;
    font-size: 25px;
}
#icon:hover{
    background: #fff;
}
#icon:hover i{
    color: #0075FF;
}
#checkbox,
#icon{
    display: none;
}
.nav-2{
    display: flex;
    list-style: none;
    
   
}

