*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 5%;
    align-items: center;
    background: $navbar-bg-color;
    position: fixed;
    height: 90px;
    z-index: 1000;
    width: 100%;
    top: 0;
    .logo-1{
        width: 80px;
        height: 80px;
        border-radius: 40px;
    }

}
.nav-2{
    display: flex;
    list-style: none;
    // .bnt-1{
    //     border-radius: 5px;
    //     width: 80px;
    //     height: 30px;
    //     border: none;
    //     margin: 10px;
    // }
    // .bnt-1:hover{
    //     background-color:  ;
    // }
}

ul{
    list-style: none;
}
ul li{
    display: inline-block;
}
ul li a{
    font-weight: bold;
    text-decoration: none;
    color: #000000;
    padding: 8px 30px;
    border-radius: 7px;
    transition: all .3s ease;
}
ul li a:hover,
ul li a.active{
    color: #fff;
    text-decoration: underline;
    background: #0075FF;
}
#icon{
    background-color: #0057FF;
    padding: 5px 7px 3px 7px;
    border-radius: 4px;
    cursor: pointer;
}
#icon i{
    color: #fff;
    height: 28px;
    font-size: 25px;
}
#icon:hover{
    background: #fff;
}
#icon:hover i{
    color: #0075FF;
}
#checkbox,
#icon{
    display: none;
}
