.nav{
    display: flex;
    justify-content: space-between;
    background-color: $navbar-bg-color;
    padding: 15px 5%;
    height: 60px;
    align-items: center;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 90%;
    position: fixed;

    .nav-1{

        display: flex;
        list-style: none;
        a:hover{
            color: #fff;
            text-decoration: underline;
          
        }
        
        
    }
    .nav-2{
        display: flex;
        list-style: none;

    }
    a{
        margin: 10px;
        text-decoration: none;
        align-items: center;
        justify-content: center;
        font-weight: bold;
        display: flex;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #000000;
    }
    a:hover{
        text-decoration: underline;
      
    }
    img{
        width: 80px;
        height: 80px;
        border-radius: 50px;
    }
}


